.featured {
    .featured__filter {
        margin-top: 62px;
        @media(max-width:992px) {
            margin-top: 36px;
        }

        .featured__filter__buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 51px;
            @media(max-width:992px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 46px;
            }

            li {
                a {
                    color: #ca1f2e;
                    font-size: 19px;
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.21);
                    background-color: $white;
                    border-radius: 10px;
                    padding: 15px 0px 14px 19px;
                    display: inline-block;
                    width: 192px;
                    @media(max-width:992px) {
                        margin-bottom: 17px;
                    }

                    &:hover {
                        color: $white;
                        background-image: linear-gradient(253deg, #de0014, #390009);
                    }
                    img {
                        margin-right: 18px;
                    }
                }
            }

            .active {
                a {
                    color: $white;
                    background-image: linear-gradient(253deg, #de0014, #390009);
                }
            }
        }

        .featured__filter--desc {
            border-radius: 5px;
            background-color: #fbfbfb;
            box-shadow: 0 2px 6.5px 0 rgba(0, 0, 0, 0.2);
            padding: 36px 31px 36px 60px;
            margin-bottom: 80px;
            @media(max-width:768px) {
                padding: 19px 14px 21px 14px;
            }

            .desc-item {
                display: flex;
                @media(max-width:992px) {
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                }
                .desc-item__text {
                    padding-right: 20px;
                    @media(max-width:768px) {
                        padding-right: 0px;
                    }
                    
                    .desc-item__text--title {
                        color: #01094d;
                        font-size: 30px;
                        font-weight: 600;
                        font-family: 'Proxima Nova Lt';
                        margin-bottom: 3px;
                        @media(max-width:992px) {
                            text-align: center;
                        }
                    }

                    .desc-item__text--paragraph {
                        color: #01094d;
                        font-size: 17px;
                        text-align: justify;
                        line-height: 1.12;

                    }
                }

                img {
                    width: 349px;
                    height: 291px;
                    border-radius: 4px;
                    border: solid 1px #979797;
                    @media(max-width:768px) {
                        margin-bottom: 21px;
                    }
                    @media(max-width:420px) {
                        width: 268px;
                        height: 222px;
                    }
                }
            }
        }
    }
}