// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
// g- { prefixed classes are global components }

body {
    width: 100%;
    font-family: 'Proxima Nova Alt Rg';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

.main-header {
    background-color: $white;
    .header-cover {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:992px) {
            padding: 20px 0px;
            flex-direction: row-reverse;
        }

        .main-header__nav {
            @media(max-width:992px) {
                display: none;
            }

            ul {
                display: flex;
                li {
                    a {
                        font-size: 17px;
                        color: $black;
                        font-weight: normal;
                        display: inline-block;
                        &:hover {
                            background-color: #f2f1f1;
                        }
                    }
                }

                .main-header__nav--home {
                    a {
                        padding: 40px 54px;
                    }
                }
                .main-header__nav--featured {
                    a {
                        padding: 40px 27px;
                    }
                }
                .main-header__nav--reviews {
                    a {
                        padding: 40px 33px;
                    }
                }
            }
        }

        .menu-button {
            display: none;
            @media(max-width:992px) {
                display: block;
            }
        }
    }
}

.main-footer {
    background-color: $white;
    padding: 65px 0px;
    .footer-cover {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media(max-width:992px) {
            justify-content: center;
        }

        .main-footer__logo {
            position: absolute;
            left: -250px;
            top: -65px;
            background-color: red;
            width: 250px;
            height: 152px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width:1440px) {
                display: none;
            }
        }

        .main-footer__reserve {
            p {
                font-size: 16px;
                color: #000000;
                padding-left: 80px;
                @media(max-width:1440px) {
                    padding-left: 0px;
                }
            }
        }

        .main-footer__nav {
            @media(max-width:992px) {
                display: none;
            }
            ul {
                display: flex;
                li {
                    a {
                        font-size: 16px;
                        color: #000000;
                        margin-left: 28px;
                    }
                }
            }
        }
    }
}

.hotelList-table {
    background-color: $white;
    border-radius: 5px;
    padding-bottom: 90px;
    margin-bottom: 128px;

    .hotelList-table__item {
        display: flex;
        padding: 64px 53px 2px 52px;
        @media(max-width:992px) {
            padding: 30px 0px 30px 0px;
            margin: 0px 26px;
            flex-direction: column;
            justify-content: center;
            border-bottom: solid 1px #979797;
        }

        .item-logo {
            @media(max-width:992px) {
                text-align: center;
                margin-bottom: 14px;
            }

            img {
                border-radius: 5px;
            }
        }

        .item-info {
            margin-left: 40px;
            @media(max-width:992px) {
                text-align: center;
                margin-left: 0px;
            }

            p {
                font-size: 26px;
                color: #000000;
                font-weight: 600;
                font-family: 'Proxima Nova Lt';
                margin-bottom: 2px;
                
            }

            .star-rating {
                margin-bottom: 17px;
                @media(max-width:992px) {
                    margin-bottom: 14px;
                }
            }
            
            span {
                color: #081b6c;
                font-size: 18px;
            }   
        }

        .item-button {
            margin-left: 42px;
            text-align: center;
            @media(max-width:992px) {
                margin-left: 0px;
            }

            .item-button__cover {
                display: flex;
                box-shadow: $box-shadow-button;
                margin-bottom: 35px;
                width: 253px;
                border-radius: 5px;
                @media(max-width:992px) {
                    margin: 14px auto 14px auto;
                    width: 200px;
                }
                
                .item-button__cover--score {
                    width: 72px;
                    height: 71px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media(max-width:992px) {
                        width: 57px;
                        height: 56px;
                    }
                    
                    span {
                        font-family: 'Proxima Nova Lt';
                        color: #000b68;
                        font-weight: 600;
                        font-size: 35px;
                        height: 42px;
                        @media(max-width:992px) {
                            font-size: 29px;
                            height: 35px;
                        }
                    }

                    p {
                        color: #000b68;
                        font-size: 8px;
                        text-transform: uppercase;
                    }
                }

                .item-button__cover--visit {
                    a {
                        width: 181px;
                        height: 71px;
                        font-family: 'Proxima Nova Lt';
                        color: #ffffff;
                        font-weight: 600;
                        font-size: 25px;
                        background-color: #ca1f2e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        @media(max-width:992px) {
                            width: 143px;
                            height: 56px;
                            font-size: 23px;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            a {
                color: #081b6c;
                font-size: 18px;
                text-align: center;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 999;
    overflow-x: scroll;

    .menu__item {
        background-color: $white;
        width: 76%;
        height: 100%;
        padding-top: 64px;
        position: absolute;
        top: 0;
        left: 0;

        .menu__item--logo {
            padding-bottom: 36px;
            text-align: center;
        }

        .menu__item--nav {

            ul {
                li {
                    a {
                        width: 100%;
                        font-size: 16px;
                        color: rgba(33, 33, 33, 0.87);
                        padding: 13px 15px 13px 37px;
                        display: inline-block;
                        border-left: 1px solid transparent;
                    }
                }

                .active {
                    a {
                        border-left: 1px solid #000b68;
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
}

@keyframes animate-open {
    0% {left:-100%;}
    100% {left:0;}
}

@keyframes animate-close {
    0% {left:0;}
    100% {left:-100%;}
}

.open-menu {
    display: block;  
    animation-name: animate-open;
    animation-duration: 0.4s;
}

.close-menu {
    animation-name: animate-close;
    animation-duration: 0.4s;
}