.home {
    overflow: hidden;
    background-image: url("../images/body-bg.png");
    background-repeat: no-repeat;
    background-size: 164%;
    background-position: 32% 76%;
    @media(max-width:1330px) {
        background-image: none;
    }
    .home__title {
        font-size: 28px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        font-family: 'Proxima Nova Lt';
        margin-top: 62px;
        letter-spacing: 0.8px;
        @media(max-width:992px) {
            font-size: 18px;
        }
    }

    .home__desc {
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 57px;
        letter-spacing: 0.6px;
        @media(max-width:992px) {
            font-size: 10px;
        }
    }

    .home__info {
        color: #ffffff;
        .home__info--title {
            font-size: 40px;
            font-weight: 600;
            padding: 0px 58px;
            margin-bottom: 24px;
            text-align: center;
            font-family: 'Proxima Nova Lt';
            @media(max-width:992px) {
                font-size: 18px;
            }
        }

        .home__info--item {
            font-size: 30px;
            padding: 0px 58px;
            margin-bottom: 64px;
            text-align: center;
            @media(max-width:992px) {
                font-size: 14px;
            }
        }

        .home__info--text {
            font-size: 20px;
            text-align: justify;
            margin-bottom: 142px;
            @media(max-width:992px) {
                font-size: 18px;
            }
        }
    }
}