.review {
    .review__title {
        text-align: center;
        color: #ffffff;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 37px;
        margin-top: 62px;
        letter-spacing: 0.8px;
        @media(max-width:992px) {
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .review__item {
        margin-bottom: 62px;
        text-align: center;
        letter-spacing: 0.3px;
        @media(max-width:992px) {
            margin-bottom: 34px;
        }

        a {
            text-align: center;
            color: #ffffff;
            font-size: 15px;
            @media(max-width:992px) {
                font-size: 10px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .review__info {
        display: flex;
        @media(max-width:992px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .review__info--card {
            margin-right: 40px;
            @media(max-width:992px) {
                margin-bottom: 36px;
                margin-right: 0px;
            }

            .card {
                width: 280px;
                background-color: $white;
                border-radius: 5px;
                position: relative;
                
                .pick {
                    position: absolute;
                    top: -25px;
                    left: -25px;

                    .pick__text {
                        position: absolute;
                        top: 26px;
                        left: 2px;
                        font-size: 13px;
                        color: $white;
                        font-family: 'Proxima Nova Lt';
                        font-weight: 600;
                        padding: 0px 5px;
                        text-align: center;
                        line-height: 1;
                    }
                }

                .card__image {
                    margin: 9px 9px 34px 8px;
                    border-radius: 5px;
                    width: 263px;
                }
    
                .card__desc {
                    padding: 0px 22px; 
                    .card__desc--title {
                        color: #000000;
                        font-size: 27px;
                        font-weight: 600;
                        font-family: 'Proxima Nova Lt';
                        margin-bottom: 10px;
                    }
    
                    .card__desc--text {
                        color: #081b6c;
                        font-size: 15px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }

                    .card__desc--score {
                        margin-bottom: 40px;

                        span {
                            font-size: 35px;
                            font-weight: 600;
                            color: #000b68;
                            font-family: 'Proxima Nova Lt';
                        }

                        p { 
                            color: #000b68;
                            font-size: 8px;
                            text-transform: uppercase;
                            text-align: left;
                            margin-top: -10px;
                            margin-left: 3px;
                        }
                    }
                }
    
                .card__button {
                    a {
                        width: 100%;
                        height: 53px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        font-weight: 600;
                        font-family: 'Proxima Nova Lt';
                        background-color: #ca1f2e;
                        text-transform: uppercase;
                        color: $white;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }

        .review__info--desc {
            margin-bottom: 80px;
            @media(max-width:992px) {
                padding: 0px 25px;
            }

            .info-paragraph {
                color: $white;
                margin-bottom: 30px;

                .info-paragraph__title {
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Proxima Nova Lt';
                    margin-bottom: 20px;
                }

                .info-paragraph__item {
                    font-size: 15px;
                    text-align: justify;
                }
            }
        }
    }
}