.reviews {
    .reviews__title {
        font-size: 37px;
        font-weight: 600;
        font-family: 'Proxima Nova Lt';
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 62px;
        letter-spacing: 0.8px;
        @media(max-width:992px) {
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .reviews__item {
        font-size: 25px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        letter-spacing: 0.6px;
        @media(max-width:992px) {
            font-size: 10px;
            margin-bottom: 36px;
        }
    }

    .reviews__cardBox {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
        @media(max-width:992px) {
            flex-direction: column;
            align-items: center;
        }
        
        .card {
            width: 280px;
            background-color: $white;
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            @media(max-width:992px) {
                margin-bottom: 40px;
            }

            .card__image {
                margin: 9px 9px 34px 8px;
                border-radius: 5px;
                width: 263px;
            }

            .card__desc {
                padding: 0px 22px; 
                .card__desc--title {
                    color: #000000;
                    font-size: 27px;
                    font-weight: 600;
                    font-family: 'Proxima Nova Lt';
                    margin-bottom: 10px;
                }

                .card__desc--text {
                    color: #081b6c;
                    font-size: 13px;
                    text-align: justify;
                    margin-top: 8px;
                    margin-bottom: 10px;
                }

                .card__desc--link {
                    color: #ca1f2e;
                    text-align: right;
                    margin-bottom: 28px;

                    a {
                        color: #ca1f2e;
                        margin-left: 7px;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-family: 'Proxima Nova Lt';
                    }
                }
            }

            .card__button {
                a {
                    width: 100%;
                    height: 53px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Proxima Nova Lt';
                    background-color: #ca1f2e;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
    }

    .hotelList-table {
        background-color: transparent;
        padding-bottom: 0px;
        margin-bottom: 280px;

        .hotelList-table__item {
            padding: 15px 35px 15px 17px;
            margin-bottom: 29px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0 2px 6.5px 0 rgba(0, 0, 0, 0.2);

            .item-info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                p {
                    width: 60%;
                    @media(max-width:992px) {
                        width: 100%;
                    }
                }

                .star-rating {
                    width: 40%;
                    margin-bottom: 0px;
                    text-align: right;
                    @media(max-width:992px) {
                        width: 100%;
                        text-align: center;
                    }

                    .jq-star {
                        width: 13px !important;
                        height: 13px !important;
                    }
                }

                span {
                    width: 100%;
                    font-size: 13px;
                    text-align: justify;
                    @media(max-width:992px) {
                        text-align: center;
                    }
                }
            }

            .item-button {
                margin-left: 99px;
                padding-top: 10px;
                @media(max-width:992px) {
                    margin-left: 0px;
                }

                .item-button__cover {
                    margin-bottom: 19px;
                    width: 185px;
                    height: 52px;

                    .item-button__cover--score {
                        width: 53px;
                        height: 52px;
                        
                        span {
                            font-size: 25px;
                            height: 31px;
                        }

                        p {
                            font-size: 7px;
                        }
                    }

                    .item-button__cover--visit {
                        a {
                            font-size: 19px;
                            width: 132px;
                            height: 52px;
                        }
                    }
                }

                i {
                    color : #ca1f2e;
                }

                a {
                    color: #ca1f2e;
                    font-size: 15px;
                    font-weight: 600;
                    font-family: 'Proxima Nova Lt';
                    text-transform: uppercase;
                    margin-left: 4px;
                }
            }
        }
    }
}