.termsConditions {
    .termsConditions__title {
        font-size: 37px;
        font-weight: 600;
        text-align: center;
        color: $white;
        font-family: 'Proxima Nova Lt';
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 62px;
        letter-spacing: 0.8px;
        @media(max-width:992px) {
            display: none;
        }
    }

    .termsConditions__item {
        text-align: center;
        margin-bottom: 70px;
        letter-spacing: 0.3px;
        @media(max-width:992px) {
            display: none;
        }

        a {
            color: $white;
            text-transform: uppercase;
            font-size: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
    }   

    .termsConditions__desc {
        padding: 49px 31px 57px 40px;
        border-radius: 5px;
        background-color: #fbfbfb;
        box-shadow: 0 2px 6.5px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 157px;
        @media(max-width:992px) {
            margin-top: 32px;
        }

        .termsConditions__desc--title {
            font-size: 25px;
            font-weight: 600;
            font-family: 'Proxima Nova Lt';
            text-transform: uppercase;
            margin-bottom: 24px;
            color: #b61f2d;
            @media(max-width:992px) {
                font-size: 18px;
            }
        }
        .termsConditions__desc--item {
            margin-bottom: 50px;
            
            .item-title {
                font-size: 17px;
                color: #01094d;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
    
            .item-text {
                font-size: 17px;
                color: #01094d;
                text-align: justify;
                margin-bottom: 15px;
            }
        }
    }
}