// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 940px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$bg-body: #01094d;
$bg-button: #ca1f2e;
$box-shadow-button: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
$section-shadow: 0px 2px 6.5px 0px rgba(0, 0, 0, 0.2);

